In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
election_data_path = '../../datasets/Clean Datasets/Electoral Data/'
census_data_path = '../../datasets/Clean Datasets/Census Data/'
other_data_path = '../../datasets/Raw Datasets/Other data/'

In [3]:
import os
import re

census_df = pd.DataFrame()
census_df_norm = pd.DataFrame()

exclude = ['CED to Age (Individual years).csv']

for index, path in enumerate(os.scandir(census_data_path)):
    if path.name not in exclude:
        c_file = pd.read_csv(path.path, index_col=0)
        cens_code = re.match(r'^[0-9a-zA-z]*?(?= )', c_file.index.name).group(0)
        c_file = c_file.add_prefix(cens_code + ' - ')
        c_file.index.name = 'LGA'
        census_df = census_df.join(c_file, how='outer')
        c_file_norm = c_file.apply(lambda x: x / x.sum(), axis=1)
        census_df_norm = census_df_norm.join(c_file_norm, how='outer', rsuffix='.' + str(index))

census_df.head()

,AGE5P - 0-4 years,AGE5P - 5-9 years,AGE5P - 10-14 years,AGE5P - 15-19 years,AGE5P - 20-24 years,AGE5P - 25-29 years,AGE5P - 30-34 years,AGE5P - 35-39 years,AGE5P - 40-44 years,AGE5P - 45-49 years,...,RELP - Other Religions,RELP - Secular Beliefs and Other Spiritual Beliefs and No Religious Affiliation,RELP - Inadequately described,RELP - Not stated,SEXP - Male,SEXP - Female,MDCP - Married in a registered marriage,MDCP - Married in a de facto marriage,MDCP - Not married,MDCP - Not applicable
LGA,,,,,,,,,,,,,,,,,,,,,
Adelaide,9761,9178,8226,10379,17511,16760,15961,12706,11645,11514,...,3085,61453,916,16149,89666,91263,54682,13346,65853,46993
Aston,9027,9072,8995,9907,10213,9927,10403,10283,10459,11026,...,1543,52382,833,10797,75339,78821,60719,9364,47066,36980
Ballarat,9317,9830,9140,9362,9801,8961,8781,8860,9512,9905,...,856,55708,870,13249,71979,76811,48120,12179,44914,43598
Banks,9444,9250,8722,9422,10688,11555,11461,10286,10387,10195,...,900,37707,445,10866,75780,80031,60121,6983,52229,36469
Barker,9219,10472,10390,9891,8304,8534,8978,9037,10178,11550,...,1057,58638,712,15358,83654,81960,59520,12946,45347,47779

In [4]:
v_file = pd.read_csv(election_data_path + 'Final_Vote_Count.csv')
v_file

,Unnamed: 0,DivisionNm,CountNumber,BallotPosition,PartyAb,PartyNm,Elected,HistoricElected,PreferenceCount,PreferencePercent
0,2,Adelaide,4,3,ALP,Australian Labor Party,Y,Y,62362.0,58.18
1,4,Adelaide,4,5,LP,Liberal,N,N,44819.0,41.82
2,6,Aston,3,1,LP,Liberal,Y,Y,60180.0,60.13
3,8,Aston,3,3,ALP,Australian Labor Party,N,N,39910.0,39.87
4,16,Ballarat,5,6,LP,Liberal,N,N,40068.0,39.02
...,...,...,...,...,...,...,...,...,...,...
297,1038,Wide Bay,5,4,LNP,Liberal National Party of Queensland,Y,Y,59279.0,63.15
298,1045,Wills,4,4,GVIC,The Greens (VIC),N,N,40192.0,41.83
299,1047,Wills,4,6,ALP,Australian Labor Party,Y,Y,55898.0,58.17
300,1051,Wright,6,4,ALP,Australian Labor Party,N,N,34322.0,35.42
301,1055,Wright,6,8,LNP,Liberal National Party of Queensland,Y,Y,62571.0,64.58

In [5]:
elected = v_file[v_file['Elected'] == 'Y'][['DivisionNm', 'PreferencePercent', 'PartyNm']]
elected.head()

  DivisionNm  PreferencePercent                 PartyNm
0   Adelaide              58.18  Australian Labor Party
2      Aston              60.13                 Liberal
5   Ballarat              60.98  Australian Labor Party
6      Banks              56.26                 Liberal
8     Barker              68.94                 Liberal

In [6]:
elected.set_index('DivisionNm', inplace=True)

In [7]:
all_df = census_df.join(elected)
all_df_norm = census_df_norm.join(elected)

In [8]:
# Export to csv
all_df.to_csv('../../datasets/Clean Datasets/' + 'CED to All Demographics and Results.csv')
all_df_norm.to_csv('../../datasets/Clean Datasets/' + 'CED to All Demographics and Results Norm.csv')